.components__QuoteGenerator__layout { 
  display: flex;
  flex-direction: column;
}

.components__QuoteGenerator__quote__icon { 
  height: 72px !important;
  width: 72px !important;
}

.components__QuoteGenerator__quote { 
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: 24px;
  color: grey; 
  text-align: center;
  padding: 50px;
}

.components__QuoteGenerator__buttons { 
  flex: 1;
  display: flex;
  justify-content: space-around;
}