.views__AuthView__layout { 
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.views__AuthView__reader { 
  width: 50vw;
  height: 50vw;
  border: 2px solid blue;
}