.app__title { 
  flex: 1;
}

.app__connect { 
  top: 28px;
  z-index: 10;
}

.app__container { 
  height: calc(100vh - 56px);
}

.app__container > section { 
  padding-top: calc(100vh - 56px) !important;
}

.app__container > section > div { 
  border: 50px solid rgba(0, 0, 0, 0) !important;
  width: 100vw !important;
  height: 100vw !important;
  top: calc(25% - 28px) !important;
}